body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

button{
    padding: 7px 16px;
    color: #fff;
    background-color: skyblue;
    border: none;
    border-radius: 4px;
}

input{
    padding: 6px;
    background-color: #f6f8f9;
    border: 1px solid  lightgray;
    border-radius: 4px;
    margin: 5px;
}

h1{
    font-size: 35px;
    color: #444;
    margin-bottom: -5px;
}